.explore-menu {
  position: sticky;
  top: 52px;
  z-index: 900;
  background-color: #ffffff;
  padding: 10px 0;
  margin: 0;
  transition: box-shadow 0.3s ease;
  border-top: none;
  font-family: "Be Vietnam Pro", sans-serif;
}

.explore-menu.is-sticky {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.04);
}

.explore-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  text-align: center;
  margin: 15px 0;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
}

.explore-menu-list::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

.explore-menu-list-item p {
  margin-top: 10px;
  color: #555555;
  font-size: clamp(15px, 1.3vw, 18px);
  font-weight: 500;
  cursor: pointer;
  transition: color 0.2s, border-bottom 0.2s;
  padding-bottom: 4px;
  border-bottom: 3px solid transparent; /* Default hidden */
}

.explore-menu-list-item p:hover {
  color: tomato;
}

.explore-menu hr {
  margin: 10px 0;
  height: 2px;
  background-color: #e2e2e2;
  border: none;
}

.menu-item {
  position: relative;
  padding-bottom: 4px;
  cursor: pointer;
  font-family: "Be Vietnam Pro", sans-serif;
  color: #555;
  transition: color 0.3s ease;
}

.menu-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background-color: tomato;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.menu-item:hover::after,
.menu-item.active::after {
  width: 100%;
}

.menu-item.active,
.menu-item:hover {
  color: tomato;
}

@media (max-width: 1050px) {
  .explore-menu-text {
    max-width: 100%;
    font-size: 14px;
  }
}