.voucher-box {
    margin-bottom: 15px;
}

.voucher-input-group {
    display: flex;
    gap: 8px;
}

.voucher-input-group input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.voucher-input-group button {
    padding: 10px 14px;
    background: #e60000;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}
.voucher-trigger-text {
    color: #d9534f;
    /* đỏ nhạt */
    margin-top: 8px;
    cursor: pointer;
    font-size: 14px;
}

.voucher-trigger-text:hover {
    text-decoration: underline;
}